  <div class="row">
  	<div class="two column offset-by-four" style="padding-left:5%;">
  		<a class="button button-primary" href="/assets/Resume - Ricardo Zamudio II.pdf">
			<i class="fa fa-file-pdf-o" target="_blank" style="font-size:20px" aria-hidden="true"></i>&nbsp;&nbsp;DOWNLOAD PDF
		</a>
  	</div>
  </div>
  <div class="row">
  	<div class="twelve columns">
  		<h1>Education</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="two columns">
  		<img src="/assets/tigerhawk.jpg" class="img-circle" style="height:10%;width:100%" alt="tigerhawk"></img>
  	</div>
  	<div class="ten columns">
  		<h6><strong>B.S. Electrical &amp; Computer Engineering - University of Iowa</strong></h6>
  		<strong>Focus:</strong>&nbsp;Software
  		<p style="display:inline;padding-left:30%;"><strong>GPA: 3.94/4.00</strong></p>
  		<br />
  		<strong>Minors:</strong>&nbsp;Business, Math, Computer Science
  		<p style="display:inline;padding-left:8%;"><strong>Graduation Date:</strong>&nbsp;May 2016</p>
  	</div>
  </div>
  <div class="row">
  	<div class="twelve columns">
  		<h1>Work Experience</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="two columns">
  		<img src="/assets/deere-logo.jpg" style="height:15%;width:100%" alt="deere logo"></img>
  	</div>
  	<div class="ten columns">
  		<h6 style="display:inline"><strong>Software &amp; Systems Engineer - John Deere</strong>, Moline, IL</h6>
  		<p style="display:inline; float:right;"><strong>Jul. 2016 - Present</strong></p>
  		<br />
  		<ul>
  			<li>Participating in John Deere’s engineering development rotational program</li>
  			<li>Designing embedded software to improve John Deere planter precision</li>
  			<li>Generating user stories and supporting the Agile process for planter UI software</li>
  		</ul>
  	</div>
  </div>
  <br />
  <div class="row">
  	<div class="two columns">
  		<img src="/assets/rockwell-logo.jpg" style="height:10%;width:100%" alt="rockwell logo"></img>
  	</div>
  	<div class="ten columns">
  		<h6 style="display:inline"><strong>Software Engineering Intern - Rockwell Collins</strong>, Cedar Rapids, IA</h6>
  		<p style="display:inline; float:right;"><strong>May 2015 - Dec. 2015</strong></p>
  		<br />
  		<ul>
  			<li>Upgraded Rockwell’s RCU-710 interface code and documents for Windows 7 compatibility</li>
  			<li>Spearheaded the Windows 7 upgrade project through review and release stages</li>
  			<li>Updated the RCU-710 C# .NET interface for radio control per customer requests</li>
  		</ul>
  	</div>
  </div>
  <br />
  <div class="row">
  	<div class="two columns">
  		<img src="/assets/ui-coe-logo.png" style="height:10%;width:100%" alt="ui engineering logo"></img>
  	</div>
  	<div class="ten columns">
  		<h6 style="display:inline"><strong>Student Consultant - Engineering Computer Services</strong>, Iowa City, IA</h6>
  		<p style="display:inline; float:right;"><strong>Aug. 2013 - May 2016</strong></p>
  		<br />
  		<ul>
  			<li>Provided computer troubleshooting assistance to engineering faculty and students</li>
  			<li>Performed routine functionality checks of engineering computer lab equipment</li>
  		</ul>
  	</div>
  </div>
  <br />
  <div class="row">
  	<div class="two columns">
  		<img src="/assets/state-farm-logo.JPG" style="height:10%;width:100%" alt="state farm logo"></img>
  	</div>
  	<div class="ten columns">
  		<h6 style="display:inline"><strong>Systems College Intern - State Farm Insurance</strong>, Bloomington, IL</h6>
  		<p style="display:inline; float:right;"><strong>May - Aug. 2014</strong></p>
  		<br />
  		<ul>
  			<li>Assisted web development team working to fix and enhance statefarm.com functionality</li>
  			<li>Utilized content management system through the web module development life cycle</li>
  			<li>Presented for a semifinalist team in the State Farm Intern Speech Program</li>
  		</ul>
  	</div>
  </div>
  <br />
  <div class="row">
  	<div class="two columns">
  		<img src="/assets/state-farm-logo.JPG" style="height:10%;width:100%" alt="state farm logo"></img>
  	</div>
  	<div class="ten columns">
  		<h6 style="display:inline"><strong>IT Student Intern - State Farm Insurance</strong>, Bloomington, IL</h6>
  		<p style="display:inline; float:right;"><strong>May - Aug. 2013</strong></p>
  		<br />
  		<ul>
  			<li>Enhanced an Excel Macro for Test ID Team to provide central source for Test ID data</li>
  			<li>Developed websites for IT Student Interns and College Interns as part of a team</li>
  		</ul>
  	</div>
  </div>
  <div class="row">
  	<div class="twelve columns">
  		<h1>Technical Experience</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="twelve columns">
  		<ul>
  			<li type="square"><strong>Java/C# Programming</strong>&nbsp;(Four years of experience, Rockwell Collins internship)</li>
  			<li type="square"><strong>Ruby on Rails</strong>&nbsp;(One year of experience, Senior Design project)</li>
  			<li type="square"><strong>Web Development – HTML, CSS, JavaScript</strong>&nbsp;(Four years of experience, State Farm internship)</li>
  			<li type="square"><strong>Python – Django Framework</strong>&nbsp;(One year of experience, Software Eng. Fundamentals project)</li>
  			<li type="square"><strong>C, C++ Programming</strong>&nbsp;(Three years of experience, Embedded Systems project)</li>
  			<li type="square"><i>Some exposure to: Android, Arduino, MATLAB, Verilog, VHDL, Assembly, Visual Basic</i></li>
  		</ul>
  	</div>
  </div>
  <div class="row">
  	<div class="twelve columns">
  		<h1>Leadership Experience</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="two columns">
  		<img src="/assets/toc-logo.JPG" style="height:10%;width:100%"  alt="tennis on campus logo"></img>
  	</div>
  	<div class="ten columns">
  		<h6 style="display:inline"><strong>President</strong>, University of Iowa Tennis Club</h6>
  		<p style="display:inline; float:right;"><strong>May 2015 - May 2016</strong></p>
  		<br />
  		<ul>
  			<li>Managed, along with VP and treasurer, operations for roughly one-hundred-member club</li>
  			<li>Coordinated competitive team practices and travel to tournaments through the country</li>
  		</ul>
  		<h6 style="display:inline"><strong>Vice President</strong>, University of Iowa Tennis Club</h6>
  		<p style="display:inline; float:right;"><strong>May 2014 - May 2015</strong></p>
  		<br />
  		<br />
  		<h6 style="display:inline;"><strong>Treasurer</strong>, University of Iowa Tennis Club</h6>
  		<p style="display:inline; float:right;"><strong>Aug. 2013 - May 2014</strong></p>
  	</div>
  </div>
    <div class="row">
  	<div class="two columns">
  		<img src="/assets/slb-logo.png" style="height:10%;width:100%" alt="slb logo"></img>
  	</div>
  	<div class="ten columns">
  		<h6 style="display:inline"><strong>Judicial Chancellor</strong>, Sigma Lambda Beta Fraternity, Alpha Chapter</h6>
  		<p style="display:inline; float:right;"><strong>May 2015 - May 2016</strong></p>
  		<br />
  		<ul>
  			<li>Worked with the chapter’s executive board to ensure adherence to chapter bylaws</li>
  			<li>Recorded and communicated brothers’ attendance, eligibility standing, and fines incurred</li>
  		</ul>
  	</div>
  </div>
  <div class="row">
  	<div class="twelve columns">
  		<h1>Community Experience</h1>
  	</div>
  	</div>
    <div class="row">
  	<div class="twelve columns">
  		<h6 style="display:inline;"><strong>Sigma Lambda Beta Education Foundation, Website Committee</strong></h6>
  		<p style="display:inline; float:right;"><strong>Aug. 2016 - Present</strong></p>
	  	<div style="clear:both;">
	  		<h6 style="display:inline"><strong>Tau Beta Pi Engineering Honors Society</strong></h6>
	  		<p style="display:inline; float:right;"><strong>Oct. 2014 - May 2016</strong></p>
	  	</div>
  		<div style="clear:both;">
	  		<h6 style="display:inline;"><strong>Sigma Lambda Beta Fraternity, Alpha Chapter</strong></h6>
	  		<p style="display:inline; float:right;"><strong>May 2014 - May 2016</strong></p>
	  	</div>

  </div>