<div class="row">
	<div class="six columns offset-by-three">
		<h1 style="padding-left:5%;">Software engineer.&nbsp;&nbsp;Aspiring leader.</h1>
	</div>
</div>
<div class="row">
	<div class="three columns offset-by-two">
		<a class="button" href="mailto:ricardo.zamudio.ii@gmail.com"><i class="fa fa-envelope-o" style="font-size:20px" aria-hidden="true"></i>&nbsp;&nbsp;EMAIL</a>
	</div>
	<div class="three columns">
		<a class="button" href="https://www.linkedin.com/in/ricardozamudioii"><i class="fa fa-linkedin" style="font-size:20px" aria-hidden="true"></i>&nbsp;&nbsp;LINKEDIN</a>
	</div>
	<div class="three columns">
		<a class="button" href="https://github.com/ricardozamudio"><i class="fa fa-github" style="font-size:20px" aria-hidden="true"></i>&nbsp;&nbsp;GITHUB</a>
	</div>
</div>		