	<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
			<link rel="stylesheet" type="text/css" href="/css/normalize.css">
			<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
			<script src="https://use.fontawesome.com/8c8484a583.js"></script>
			<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
		</head>
		<div id="top">
			<div class="row wide" id="header-row">
				<div class="twelve columns">
					<a href="index.html" id="name-header"><h1 class="header name-header centered">RICARDO ZAMUDIO II</h1></a>
				</div>
			</div>
			
			<div class="row wide" id="header-row">
	    		<div class="two columns offset-by-two">
	    			<a class="button u-full-width" href="/bio">BIO</a></li>
	    		</div>
	    		<div class="two columns">	
	    			<a class="button u-full-width" href="/resume">RESUME</a></li>
	    		</div>
	    		<div class="two columns">
	    			<a class="button u-full-width" href="/">PROJECTS</a></li>
	    		</div>
	    		<div class="two columns">
	    			<a class="button u-full-width" href="/">BLOG</a></li>
	    		</div>
			</div>
		</div>
		<body>
			<div class="container" style="margin-top:10%">
				{{ content }}
			</div>
		</body>
	</html>
	